.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 250ms ease-in-out;
  z-index: 20;
}

@media (min-width: 700px) {
  .ReactModal__Content--after-open {
    background: 0 !important;
    border: 0 !important;
    border-radius: 1.5rem !important;
    display: flex !important;
    inset: 30px 22% 30px 22% !important;
    justify-content: center;
    padding: 0 !important;
    scrollbar-width: none;
  }
}
@media (max-width: 700px) {
  .ReactModal__Content--after-open {
    background: 0 !important;
    border: 0 !important;
    border-radius: 1.5rem !important;
    display: flex !important;
    inset: 0 !important;
    justify-content: center;
    padding: 0 !important;
    scrollbar-width: none;
  }
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-100px);
}
